@import "../../public/colors.scss";

.taskInput {
  margin: 10px auto;
  max-width: 600px;
  padding: 0 10px;
  h2 {
    margin-top: 40px;
    margin-bottom: 15px;
    color: $mainColor;
  }
  hr {
    background-color: $auxColor;
    margin: 20px auto;
    max-width: 200px;
    height: 2px;
    border: none;
    border-radius: 5px;
  }
  input {
    min-width: 100%;
    transition: 0.1s;
    border: 1.5px solid $secondaryColor;
    background-color: $backgroundColor;
    color: $mainColor;
    border-radius: 5px;
    padding: 10px;
    &:focus {
      color: $mainColor;
      border: 2px solid $mainColor;
      cursor: pointer;
    }
  }
  button {
    margin-left: 10px;
    background: none;
    padding: 0 20px;
    border: 2px solid $secondaryColor;
    border-radius: 5px;
    color: $secondaryColor;
    font-size: 2rem;
    vertical-align: center;
    transition: 0.1s;
    user-select: none;
    &:hover {
      color: $auxColor;
      border-color: $auxColor;
      cursor: pointer;
    }
  }
}
