@import "../../public/colors.scss";

.pomodoro {
  display: flex;
  margin: 30px auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .controls {
    display: flex;
    justify-content: space-evenly;
  }
  .btnMedia {
    background: none;
    border: 2px solid $secondaryColor;
    color: $secondaryColor;
    border-radius: 100%;
    width: 54px;
    height: 54px;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    &:hover {
      border: 2px solid $auxColor;
      color: $auxColor;
    }
    &:disabled {
      border: 2px solid lightGray;
      color: lightGray;
    }
  }
  .clock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    font-size: 4rem;
    button {
      margin: 0 40px;
      font-size: 2.25rem;
    }
  }
}
