@import "../../public/colors.scss";

.task-list {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    li {
      margin: 30px 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .task-text {
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
    overflow-x: hidden;
    padding: 0 30px;
    flex-grow: 1;
    font-size: 1.2rem;
    color: #2c2c2c;
  }

  .label {
    padding: 1px 10px;
    color: #2c2c2c;
    font-weight: bold;
    margin: 0 10px;
  }

  .priority-today {
    border: 1px solid #ae81ff;
    padding: 1px 10px;
    background-color: #ae81ff;
    color: white;
  }
  .priority-low {
    border: 1px solid #e5d145;
    padding: 1px 10px;
    background-color: #e5d145;
    color: white;
  }
  .priority-high {
    border: 1px solid #e59f45;
    padding: 1px 10px;
    background-color: #e59f45;
    color: white;
  }
  .priority-critical {
    border: 1px solid #eb542f;
    padding: 1px 10px;
    background-color: #eb542f;
    color: white;
  }
}

@media (max-width: 600px) {
  .task-list {
    ul {
      li {
        flex-wrap: wrap;
      }
    }
  }
}

.btn {
  margin: 0 5px;
  background: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: 0.2s;
  user-select: none;
  &:hover {
    cursor: pointer;
  }
}

.btn-edit {
  border: 1px solid $secondaryColor;
  color: $secondaryColor;
  &:hover {
    background-color: $mainColor;
    border-color: $mainColor;
    color: white;
  }
}

.btn-delete {
  border: 1px solid $dangerColor;
  color: $dangerColor;
  &:hover {
    background-color: $dangerColorHover;
    border-color: $dangerColorHover;
    color: white;
  }
}
